
  <div class="list-group col-xs-12">

      {% for liste in liste %}
          <a href="#" class="list-group-item list-group-item-success"><td>Titre : {{ liste.getDatingTitle }}</td></a>
          <a href="#" class="list-group-item list-group-item-success"><td>Description : {{ liste.getDatingDescription }}</td></a>
          <a href="#" class="list-group-item list-group-item-warning"><td>Date de début : {{ liste.getDatingStart }}</td></a>
          <a href="#" class="list-group-item list-group-item-warning"><td>Date de fin : {{ liste.getDatingEnd  }}</td></a>
          <a href="#" class="list-group-item list-group-item-danger"><td>Longitude : {{ liste.getDatingLat }}</td></a>
          <a href="#" class="list-group-item list-group-item-danger"><td>Latitude : {{ liste.getDatingLng }}</td></a>
          <a href="#" class="list-group-item list-group-item-info"><td>{{ liste.getDatingLinkTitle }} : </td></a>
          <a href="#" class="list-group-item list-group-item-info"><td>{{ liste.getDatingLinkHref }}</td></a>

      {% endfor %}

          <br/><br/>


      {% include "@FollowMeBundle/Resources/views/ui/pages.html.twig" %}

  </div>