




      {% for liste in liste %}
      <div class="" style="text-align: center; width: 800px; margin-left: auto; margin-right: auto; border-radius: 20px; background-color: #3498db;">
          <a href="#" class="" style="color: white;" ><td>Titre : {{ liste.getDatingTitle }}</td></a><br>
          <a href="#" class=""  style="color: white;" ><td>Description : {{ liste.getDatingDescription }}</td></a><br>
          <a href="#"  style="color: white;"  ><td>Date de début : {{ liste.getDatingStart }}</td></a><br>
          <a href="#"  style="color: white;"  ><td>Date de fin : {{ liste.getDatingEnd  }}</td></a><br>
          <a href="#"  style="color: white;"  ><td>Longitude : {{ liste.getDatingLat }}</td></a><br>
          <a href="#"  style="color: white;"  ><td>Latitude : {{ liste.getDatingLng }}</td></a><br>
          <a href="#"  style="color: white;"  ><td>{{ liste.getDatingLinkTitle }} : </td></a><br>
          <a href="#"  style="color: white;"  ><td>{{ liste.getDatingLinkHref }}</td></a><br>

      </div>
          <br/><br/>
      {% endfor %}

          <br/><br/>


      {% include "@FollowMeBundle/Resources/views/ui/pages.html.twig" %}

