<div class="col-x-6" style="text-align: center">

    <p>Publiez une sortie et proposez aux membres
        de vous accompagner</p>

    <div class="col-x-6">

        <img src="{{ asset('bundles/followme/images/followme.jpg') }}"/><br><br>

    </div>

    {% if app.session.get('id') %}

        <a class="btn btn-info" href="{{ path('dating') }}">Dating</a>
        <a class="btn btn-info" href="{{ path('add') }}">Add</a>

    {% else %}

        <a class="btn btn-success" href="{{ path('signin') }}">Sign in</a>
        <a class="btn btn-success" href="{{ path('signup') }}">Sign up</a>

    {% endif %}



</div>